@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(39, 39, 39);
}
p, h1{
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 8vw;
    height: 8vh;
    align-items: center;
    box-shadow: -1px 0px 9px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 9px 0px rgba(0,0,0,0.75);
    background-color: rgb(31, 31, 31);
}
header .logo h1{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(31, 31, 31);
}
header .logo{
    display: flex;
    align-items: center;
    color: white;
}
header a{
    text-decoration: none;
}
header .logo svg{
    width: 30px;
    margin-right: 30px;
    fill: white;
}
header .list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(31, 31, 31);
}
header .list > a{
    text-decoration: none;
    color: white;
}
header .list > p{
    background-color: rgb(31, 31, 31);
    color: white;
}
header .menu-button{
    display: none;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}
header .menu-button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
header .menu-button svg{
    fill: white;
    width: 20px;
}
.mobile-menu{
    height: 100vh;
    width: 300px;
    z-index: 10;
    position: fixed;
    background-color: rgb(31, 31, 31);
    padding-top: 10vh;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    left: -100%;
    transition: 0.2s;
}
.mobile-menu .mobile-panel{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.mobile-menu .mobile-panel .list-item > p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.mobile-menu .mobile-panel > .list-item{
    width: 100%;
    padding: 15px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
}
.mobile-menu .mobile-panel > .list-item:hover{
    width: 100%;
    background-color: #4e4e4e;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
}

main{
    background-image: url(./assets/favelas.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 30px 8vw;
    justify-content: center;
}
main{
    color: white;
}
.option{
    display: flex;
    padding: 0 180px;
    height: 10vh;
    align-items: center;
    justify-content: center;
}
.form{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form .flag{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form .flag img{
    width: 50%;
}
.countryName{
    display: flex;
    justify-content: center;
    align-items: center;
}
.capital, .lang, .cur, .time, .startofweek, .rozszerzenie, .back, .countryName{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: rgba(0, 0, 0, 0.052) solid 1px;
    height: 100%;
    text-transform: capitalize;
}
.capital svg, .lang svg, .cur svg, .time svg, .startofweek svg, .rozszerzenie svg{
    width: 15%;
    fill: white;
}
.back svg{
    width: 15%;
    fill: rgb(255, 255, 255);
}
.form .start{
    display: flex;
    justify-content: center;
}
.form img#startbtn{
    width: 10%;
    transition: 0.2s;
}
.form img#startbtn:hover{
    width: 11%;
    transition: 0.2s;
    cursor: pointer;
}
.form svg#back{
    transition: 0.2s;
}
.form svg#back:hover{
    width: 17%;
    transition: 0.2s;
    cursor: pointer;
}
.galeria{
    height: 65vh;
    display: flex;
    justify-content: space-between;
    margin: 30px 8vw;
    align-items: center;
}
.galeria .img1, .img2, .img3, .img4{
    width: 20%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s;
}
.galeria .img1:hover, .img2:hover, .img3:hover, .img4:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.3s;
}
.galeria .img1{
    background-image: url(./assets/tky.jpg);
}
.galeria .img2{
    background-image: url(./assets/mountain.jpg);
}
.galeria .img3{
    background-image: url(./assets/beach.jpg);
}
.galeria .img4{
    background-image: url(./assets/hotel.jpg);
}

.kontakt{
    display: flex;
    align-items: center;
    margin: 10vh 8vw;
    padding: 10vh 0vw;
    justify-content: space-between;
    color: white;
    flex-direction: row;
    gap: 20px;
    border-top: 1px solid white;
}
.kontakt .contactinfo{
    width: 100%;
}
.kontakt .contactinfo p h1 span#js{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contactinfo .row{
    display: flex;
    gap: 10px;
    align-items: center;
}
.contactinfo .row svg{
    width: 20px;
    fill: white;
}
.contactinfo .row1{
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.3s;
}
.contactinfo .row1 svg{
    width: 20px;
    fill: white;
}
.contactinfo .row1:hover{
    color: #b0b0b0;
    transition: 0.3s;
    cursor: pointer;
}

.kontakt .contactform{
    width: 100%;
}
.kontakt .contactform form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.kontakt .contactform form > label{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}
.kontakt .contactform form > input, .contactform form > select, .contactform form > textarea{
    border: none;
    outline: none;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
.kontakt .contactform form input#btn{
    transition: 0.2s;
}
.kontakt .contactform form input#btn:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.693);
    transition: 0.2s;
}

.galeria .img11, .img22, .img33, .img44{
    width: 20%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s;
}
.galeria .img11:hover, .img22:hover, .img33:hover, .img44:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.3s;
}

.galeria .img11{
    background-image: url(./assets/img11.jpg);
}
.galeria .img22{
    background-image: url(./assets/css.jpg);
}
.galeria .img33{
    background-image: url(./assets/lodz.jpg);
}
.galeria .img44{
    background-image: url(./assets/zdj2.jpg);
}

footer{
    display: flex;
    height: 20vh;
    align-items: center;
    padding: 0 8vw;
    justify-content: space-between;
    background-color: rgb(48, 48, 48);

}
footer .sm a > svg{
    width: 20px;
    fill: rgb(80, 80, 80);
    margin-left: 10px;
    
}
footer .sm a > svg:hover{
    fill: rgb(95, 95, 95);
    transition: 0.5s;
}
footer .sm{
    display: flex;
    align-items: center;
}
footer .logo{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.zdjeciamain{
    background-image: url(./assets/tky2.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    margin: 30px 8vw;
    padding: 5vw;
    justify-content: center;
    color: white;
    transition: 0.3s;
}
.zdjeciamain .bar{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}
.zdjeciamain .bar > .barimg{
    width: 40px;
    height: 40px;
    border-radius: 120px;
    transition: 0.2s;
    background-size: cover;
}

.zdjeciamain .bar > .barimg:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.2s;
}
#barimg1{
    background-image: url(./assets/tky2.jpg);
}
#barimg2{
    background-image: url(./assets/favelas.jpg);
}
#barimg3{
    background-image: url(./assets/sf.jpg);
}
#barimg4{
    background-image: url(./assets/wwa.jpg);
}
#barimg5{
    background-image: url(./assets/capetown.jpg);
}
.contactinfo p a{
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.contactinfo p a:hover{
    color: #b0b0b0;
    transition: 0.3s;
}
@media only screen and (max-width: 1190px) {
    .zdjeciamain .bar{
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 30px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 50%;
        height: 10%;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        align-items: center;
    }
}


@media only screen and (max-width: 700px) {
    .form{
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        height: 90%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .kontakt{
        display: flex;
        align-items: center;
        margin: 10vh 8vw;
        justify-content: space-between;
        color: white;
        flex-direction: column;
    }
    header .list{
        display: none;
    }
    .form img#startbtn{
        width: 20%;
        transition: 0.2s;
    }
    .form img#startbtn:hover{
        width: 22%;
        transition: 0.2s;
        cursor: pointer;
    }
    .hamburger-menu{
        display: contents;
    }
    .zdjeciamain .bar{
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 30px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        align-items: center;
    }
    header .menu-button{
        display: block;
    }
}
